body {
    background-color: black;
    color: white;
}

.title {
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.room {
    border: 0.3rem red solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.send-input {
    width: max-content;
}

.chat-message {
    color: azure;
}